@charset "UTF 8";
/*Provides style for index.html*/

/*header styling*/
h1 {
  text-align: center;
  color: #FDFFFF;
}

/*Set background styling*/
body {
  font-family: Arial, sans-serif, "Times New Roman"; 
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background:url("http://sciencequestionswithsurprisinganswers.org/images/planets.png") no-repeat fixed;
  background-size: cover;
}

/*table styling*/
table {
  border-collapse: collapse;
  margin:auto;
}

/*Provides styling for table headers*/
table th {
  border: 2px Solid red;
  text-align: left;
  background-color: black;
  color:yellow;
  padding:8px 8px 8px 8px;
}

/*Provides styling for table cells*/
table td {
  border: 2px Solid blue;
  padding: 3px 3px;
  color: cyan;
}


