@charset "UTF 8";
/*Provides style for index.html*/

/*header1 styling*/
h1 {
  text-align: center;
  color: cyan;
}

/*header1 hover event*/
h1:hover
{
 color: black;
}

/*Set background styling*/
body {
  font-family: Arial, sans-serif, "Times New Roman"; 
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background:url("http://sciencequestionswithsurprisinganswers.org/images/planets.png") no-repeat fixed;
  background-size: cover;
  background-position: center center;
}

/*table styling*/
table {
  border-collapse: collapse;
  margin:auto;
}

/*Provides styling for table headers*/
table th {
  border: 2px Solid red;
  text-align: left;
  background-color: black;
  color: yellow;
  padding:10px 10px 10px 10px;
}

/*Provides styling for table cells*/
table td {
  border: 2px Solid blue;
  padding: 5px 5px;
  color: cyan;
}

/*Set background color for every even row*/
table tr:nth-child(even) td {
  background-color: #4E425B;
}

/*Set background color for every odd row*/
table tr:nth-child(odd) td {
  background-color: #4C0A6C;
}

/*Even row hover event*/
table tr:nth-child(even) td:hover {
  background-color: red;
}

/*Odd row hover event*/
table tr:nth-child(odd) td:hover {
  background-color: blue;
}

